  <nav  class="topnav" id="myTopnav">
    <ul>
      <li><h1><a href="index.html">AL</a></h1></li>
      <li><a href="index.html">portfolio</a></li>
      <li><a href="index.html">contact</a></li>
      <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">&#9776;</a></li>
    </ul>
  </nav>