/*  ==========================
    BASE TYPOGRAPHY
    This is added as a template to help start. 
    You should change the fonts, font-sizes and anything else appropriate for your site.
    ========================== */

/* Optional, include a web font. @import must come before other styles. These examples are commented out */

/*
 @import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Montserrat:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Montserrat:ital,wght@0,400;1,900&display=swap');
*/

/* The html and body selectors below set the base type for the entire page */


html {
  font-size: 1em;
  background-color: #252A31;
}

body {

  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color:white;
  
  
}


/* This adds space between paragraphs and list items*/
/* NOTE: most Navigations use list items so you will need to */
/* explicity set the margins on those so this rule doesn't */
/* mess up your navigation styling */
p,
li {
  margin-top: 0;
  margin-bottom: 1em;
}

/* For each of your headings at minimum set the margin, size, line-height. 
Adjust font-weight and other properties as needed. */

h1 {
font-family: Antic Didone;
font-style: normal;
font-weight: normal;
font-size: 36px;
color:white;
line-height: 86px;
letter-spacing: 0.01em;
}

h2 {
  font-family: Antic Didone;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
   line-height: 57px;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  
}

h3 {

  line-height: 1;
  font-size: 24px;
  color:white;
  margin: 1.5em 0 0.25em 0;
}

h4 {
  f
  line-height: 1;
  font-size: 20px;
  margin: 1.5em 0 0.5em 0;
  font-weight: 400;
}

h5 {
  
  line-height: 1;
  color:white;
  margin: 1.5em 0 0.5em 0;
  font-weight: 400;
}

h6 {
  
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.25em;
  /* normal */
  text-transform: uppercase;
}

/*  ==========================
  BASE RESPONSIVE
  ========================== */

/* Use border-box box-sizing. This isn't strictly necessary with CSS Grid but can be helpful if you're using a float fallback and it tends to be more intuitive.*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* This is basic way to make images responsive. This means if they're larger than their container they will shrink to fit it. Not a complete solution to responsive images. */

img, video {
  width: auto;
  height: auto;
  max-width: 100%;
}

/*RESPONSIVE VIDEO
See for more info: https://codepen.io/profstein/pen/mrMLRj
*/
.videoWrapper{
  position: relative;
  height: 0;
  /* padding-bottom: 75%; */ /* 4:3 aspect ratio */
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.videoWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}


/*  ==========================
  YOUR STYLES
  Add your styles below.
  ========================== */

  .homepage_intro {
  text-align:center;
  margin-bottom: 150px;

  }

  @media (min-width: 600px){

      
   
   }
   /* end media query */
                      


   @media (max-width: 900px){
     
    
    
h1 {
  font-family: Antic Didone;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.01em;
  }
  
  h2 {
      font-family: Antic Didone;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 57px;
      letter-spacing: 0.07em;
      text-transform: capitalize;
      
  }
  
  h3 {
      font-size: 2.25em;
      line-height: 1;
      margin: 1.5em 0 0.25em 0;
  }
  
  h4 {
      font-size: 1.5em;
      line-height: 1;
      margin: 1.5em 0 0.5em 0;
      font-weight: 400;
  }
  
  h5 {
      font-size: 1em;
      line-height: 1;
      margin: 1.5em 0 0.5em 0;
      font-weight: 400;
  }
  
  h6 {
      font-size: 1em;
      line-height: 1.5;
      margin: 1em 0 0 0;
      font-weight: 400;
      /* normal */
}/*end emdia query */